<div class="container caja">
  <button class="btn btn-outline-success" (click)="crearFactura()">
    Crear Nuevo <span class="fa fa-plus"></span>
  </button>
  <ng-template #loading>
    <img
      class="img-fluid rounded mx-auto d-block"
      src="/assets/img/loading.gif"
      alt="Cargando..."
      style="width: 300px"
    />
  </ng-template>
  <h2 class="text-center">Factura</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Pedido</th>
        <th scope="col">Usuario</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-template [ngIf]="datos" [ngIfElse]="loading">
        <tr *ngFor="let item of datos">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.pedido_id }}</td>
          <td>{{ item.user_id }}</td>
          <td>{{ item.fecha }}</td>
          <td>{{ item.total }}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
