<!-- Footer -->
<footer class="py-5 bg-primary " style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
  <div class="container">




    <p class="m-0 text-center text-white">
        <img style="height: 50px;" src="../../../assets/img/utn blanco.png" />
        <br/>
      Copyright &copy; Josué Marchena & Eduardo Arley
    </p>
    <p class="m-0 text-center text-white">Proyecto ISW-811 III - 2020</p>
  </div>
  <!-- /.container -->
</footer>
