.caja {
  margin-bottom: 100px;
  border-radius: 15px;
  padding: 15px;

  -webkit-box-shadow: -3px 9px 28px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 9px 28px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 9px 28px -4px rgba(0, 0, 0, 0.75);
}

.formulario {
  margin: 100 15 100 15;
}
