<div class="container caja">
  <button class="btn btn-outline-success" (click)="crearProducto()">
    Crear Nuevo <i class="fa fa-plus"></i>
  </button>
<ng-template #loading >
  <img class="centrar" src="/assets/img/loading.gif" alt="Cargando..."
    style="width: 300px;" />
</ng-template>

  <h2 class="text-center">Productos</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <ng-template [ngIf]="datos" [ngIfElse]="loading" >
      <tr *ngFor="let item of datos">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.nombre }}</td>

        <td>₡{{ item.precio }}</td>
        <td *ngIf="item.estado == 1" class="table-success text-center">
          <i class="far fa-check-circle"></i>
        </td>
        <td *ngIf="item.estado == 0" class="table-danger text-center">
          <i class="far fa-times-circle"></i>
        </td>
        <td>
          <button class="btn btn-outline-primary" (click)="actualizarProducto(item.id)" >
            Editar<i class="fas fa-pencil-alt" aria-hidden="true" ></i>
          </button>
        </td>
      </tr>
    </ng-template>


    </tbody>
  </table>
</div>
