<div class="container" style="margin-top: 122px;">
  <!--div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Acerca de</h1>
      <p class="lead">
        Poryecto Final para el curso Aplicaciones Web utilizando Software
        Libre
      </p>
      <p class="lead">
        Contacto de la empresa: +506 8608 7039
      </p>
      <ul class="list-unstyled">
        <li>Profesora: Nathalie Paniagua López</li>
        <br>
        <li>Integrantes:</li>
        <li>Josué Rubén Marchena Quirós - Cédula: 207860426</li>
        <li>Eduardo Antonio Arley Alvarado - Cédula: 207910029</li>
        <br>
        <li>ISW- 811</li>
        <li>Universidad Técnica Nacional (UTN)</li>
        <li>Sede Central</li>
      </ul>
    </div>
  </div-->

<div class="row padre">
  <div class="col-md-12">
    <div class="card hijo_uno" style="width: 18rem; border: none;">
      <img class="card-img-top" src="../../../assets/img/equinox logo color.png" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-text ">
          <p class="lead">
            Contacto de la empresa: +506 8608 7039
          </p>
        </h4>
      </div>
    </div>
  </div>
</div>
<h4 class="text-center">Integrantes:</h4>
  <div class="row padre">
      <div class="col-md-6">
        <div class="card hijo_uno" style="width: 18rem; border: none;">
          <img class="card-img-top rounded-circle" src="../../../assets/img/EA.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h4 class="card-text ">
              Eduardo Arley Alvarado
            </h4>
          </div>
          <div class="card-footer text-muted text-center">
            <p>ID: 207910029</p>
            <p class="lead">eduarley99@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card hijo_uno" style="width: 18rem; border: none;">
          <img class="card-img-top rounded-circle" src="../../../assets/img/JM.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h4 class="card-text ">
              Josué Marchena Quirós
            </h4>
          </div>
          <div class="card-footer text-muted text-center">
            <p>ID: 207860426</p>
            <p class="lead">marchenarap@gmail.com</p>
          </div>
        </div>
      </div>

  </div>




</div>
