.caja {
  margin-bottom: 80px;
  border-radius: 15px;
  padding: 15px;
  margin-top: 50px;
  -webkit-box-shadow: -3px 9px 28px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 9px 28px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 9px 28px -4px rgba(0, 0, 0, 0.75);
}
